
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Londrina+Solid:wght@100;300;400;900&display=swap');



/*Tailwind base*/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
  

.dekko-regular {
    font-family: "Dekko", cursive;
    font-weight: 400;
    font-style: normal;
  }


.comfortaa-regular {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  
