@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Dekko&display=swap');




/*Tailwind base*/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.caveat-brush-regular {
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

.dekko-regular {
    font-family: "Dekko", cursive;
    font-weight: 400;
    font-style: normal;
  }

  
